{% load cms_tags assets_loaded %}

{# Load assets (but only once) #}
{% are_assets_loaded as should_load_assets %}
{% with should_load_assets=not are_assets_loaded %}
    {% if should_load_assets %}
        {% load static %}
        <script defer src="{% static 'djangocms_tacc_image_gallery/js/initialize.js' %}"></script>
        <link type="text/css" href="{% static 'djangocms_tacc_image_gallery/css/gallery.css' %}" rel="stylesheet" />
        assets_loaded: FALSE ({{assets_loaded}})
        {% set_assets_loaded True %}
    {% else %}
        assets_loaded: TRUE ({{assets_loaded}})
    {% endif %}
{% endwith %}

{# Render markup #}
<div class="s-image-gallery">
{% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
{% endfor %}
</div>
