{% load cms_tags static sekizai_tags %}

{% addtoblock 'js' %}
    <script type="module" src="{% static 'djangocms_tacc_image_gallery/js/initialize.js' %}" defer></script>
{% endaddtoblock %}

{% addtoblock 'css' %}
    <link type="text/css" href="{% static 'djangocms_tacc_image_gallery/css/gallery.css' %}" rel="stylesheet" />
{% endaddtoblock %}

{% spaceless %}
<div class="s-image-gallery">
{% for plugin in instance.child_plugin_instances %}
    {% if plugin.plugin_type in ['ImagePlugin', 'PicturePlugin'] %}
        <a href="{{ plugin.img_src }}" title="{{ plugin.alt_text }}" target="_blank">
            {% render_plugin plugin %}
        </a>
    {% endif %}
{% endfor %}
</div>
{% endspaceless %}
