{% load cms_tags static sekizai_tags %}

{% addtoblock 'js' %}
    <script type="module" src="{% static 'djangocms_tacc_image_gallery/js/initialize.js' %}" defer></script>
{% endaddtoblock %}

{% addtoblock 'css' %}
    <link type="text/css" href="{% static 'djangocms_tacc_image_gallery/css/gallery.css' %}" rel="stylesheet" />
{% endaddtoblock %}

{% spaceless %}
<div class="lightgallery">
{% for plugin in instance.child_plugin_instances %}
    {% if plugin.plugin_type in child_classes %}
        {% if plugin.img_src %}
        <a
            href="{{ plugin.img_src }}"
            title="{% if instance.attributes.alt %}
                {{ instance.attributes.alt }}
            {% elif instance.picture.default_alt_text %}
                {{ instance.picture.default_alt_text }}
            {% endif %}"
            target="_blank"
            {{ instance.link_attributes_str }}
        >
            {% render_plugin plugin %}
        </a>
        {% else %}
            {% render_plugin plugin %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endspaceless %}
